<div class="pos">
  <button
    type="button"
    class="btn btn-link p-0 text-muted"
    mat-dialog-close
    aria-label="Close"
  >
    <i class="cc fa-solid fa-circle-xmark fa-2xl"></i>
  </button>
</div>

<h4 class="mb-3">Edit Address</h4>

<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div class="main">
    <!-- Name -->
    <mdb-form-control>
      <input
        mdbInput
        type="text"
        class="form-control"
        formControlName="createdBy"
      />
      <label mdbLabel class="form-label">Name</label>
    </mdb-form-control>

    <!-- Permanent Country -->
    <mdb-form-control>
      <input
        mdbInput
        type="text"
        class="form-control"
        formControlName="permanentCountry"
      />
      <label mdbLabel class="form-label">Permanent Country</label>
    </mdb-form-control>

    <!-- Present Address -->
    <mdb-form-control class="mdbPresentAdd">
      <input
        mdbInput
        type="text"
        class="form-control"
        formControlName="presentAddress"
      />
      <label mdbLabel class="form-label">Present Address</label>
    </mdb-form-control>

    <!-- Present City -->
    <mdb-form-control>
      <input
        mdbInput
        type="text"
        class="form-control"
        formControlName="presentCity"
      />
      <label mdbLabel class="form-label">Present City</label>
    </mdb-form-control>

    <!-- Present Postal Code -->
    <mdb-form-control>
      <input
        mdbInput
        type="text"
        class="form-control"
        formControlName="presentPostalcode"
      />
      <label mdbLabel class="form-label">Postal Code</label>
    </mdb-form-control>

    <!-- Present Country -->
    <mdb-form-control>
      <input
        mdbInput
        type="text"
        class="form-control"
        formControlName="presentCountry"
      />
      <label mdbLabel class="form-label">Present Country</label>
    </mdb-form-control>

    <!-- Permanent State -->
    <mdb-form-control>
      <input
        mdbInput
        type="text"
        class="form-control"
        formControlName="permanentState"
      />
      <label mdbLabel class="form-label">Permanent State</label>
    </mdb-form-control>

    <!-- Permanent Address -->
    <mdb-form-control class="mdbPresentAdd">
      <input
        mdbInput
        type="text"
        class="form-control"
        formControlName="permanentAddress"
      />
      <label mdbLabel class="form-label">Permanent Address</label>
    </mdb-form-control>
  </div>

  <!-- Actions -->
  <div class="d-flex justify-content-end px-4 pb-3">
    <button
      type="button"
      class="btn btn-outline-secondary btn-rounded btn-border"
      mat-dialog-close
    >
      Cancel
    </button>
    <button
      type="submit"
      class="btn btnu btn-rounded"
      [disabled]="editForm.invalid"
    >
      Update
    </button>
  </div>
</form>
