.closeIcon{
       display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px 0 24px;

}

.main{
  display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      padding: 24px;
}
 
.mdbPresentAdd{
grid-column: span 2
}

  
    